n8n-backup/RUiAyFbRlj7NobUK.json
{
  "id": "RUiAyFbRlj7NobUK",
  "name": "Backup workflows to GitHub",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour",
              "minute": 59
            }
          ]
        }
      },
      "name": "Daily at 23:59",
      "type": "n8n-nodes-base.cron",
      "position": [
        240,
        240
      ],
      "typeVersion": 1,
      "id": "7acfd385-9727-4957-a19e-8aed684cf6fa"
    },
    {
      "parameters": {
        "url": "https://n8n.srv888167.hstgr.cloud/api/v1/workflows",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        240
      ],
      "id": "1d2e0ab1-bb98-4e0a-9cfd-f264eba9d4b0",
      "name": "HTTP Request",
      "credentials": {
        "n8nApi": {
          "id": "PWQ7iWUX9gX7G09I",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 入力が { data: [ ... ] } の1件想定\nconst workflows = Array.isArray($json.data) ? $json.data : items.map(i => i.json);\n\nconst patterns = [\n  /github_pat_[A-Za-z0-9_]+/g,\n  /gh[pousr]_[A-Za-z0-9]{20,}/g,\n  /GITHUB_TOKEN(_V2)?[A-Za-z0-9_\\-]{10,}/g,\n];\n\n// 1 workflow = 1 item（= 1ファイル）で返す\nreturn workflows.map(wf => {\n  const copy = { ...wf };\n  delete copy.updatedAt;\n  delete copy.createdAt;\n  delete copy.versionId;\n\n  let text = JSON.stringify(copy, null, 2);\n  for (const re of patterns) text = text.replace(re, \"[REDACTED]\");\n\n  return {\n    json: {\n      path: `n8n-backup/${copy.id}.json`,\n      contentBase64: Buffer.from(text, \"utf8\").toString(\"base64\"),\n      name: copy.name,\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        240
      ],
      "id": "af32793e-fe1f-4ff6-b6ef-cf266f31db84",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/troy197173-lgtm/n8n-workflows/contents/{{$json.path}}?ref=main\n\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer [REDACTED]"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        240
      ],
      "id": "44dcea88-15eb-4421-9811-4437d6eda763",
      "name": "GitHub GET",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "031686c4-8e92-460e-a29d-2f5fe5c9657f",
              "leftValue": "={{$json.noChange}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1616,
        240
      ],
      "id": "325e3378-8005-4ba0-9927-092ad2f5da93",
      "name": "If no change"
    },
    {
      "parameters": {
        "jsCode": "// ===== 1) 「今処理している item」の build（path/contentBase64）を取得 =====\n// Loop Over Items の output 1（下側）に入っている item を $itemIndex で追従して取る\nconst build = $items(\"Loop Over Items\", 1, 0)[$itemIndex]?.json;\n\nconst newB64 = build?.contentBase64;\nconst path = build?.path;\n\nif (typeof newB64 !== 'string' || newB64.length === 0) {\n  throw new Error(\"contentBase64 is missing from build: \" + JSON.stringify(build, null, 2));\n}\nif (typeof path !== 'string' || path.length === 0) {\n  throw new Error(\"path is missing from build: \" + JSON.stringify(build, null, 2));\n}\n\n// ===== 2) GitHub GET の結果から sha / 旧content を拾う =====\n// GitHub GET を fullResponse=true にしている場合、成功時は $json.body に入ることが多い\n// 404などエラー時は $json.error が入る（onError=continueRegularOutput の場合）\nconst resp = $json?.body ?? $json;\n\n// 200でファイルが存在する場合：resp.sha / resp.content がある\n// 404の場合：resp はエラー構造なので sha/content は無い\nconst sha = resp?.sha;\n\n// GitHubのcontentは改行が混ざることがあるので除去\nconst oldB64_raw = resp?.content || '';\nconst oldB64 = String(oldB64_raw || '').replace(/[\\r\\n\\s]/g, \"\");\n\n// ===== 3) Base64 → text（比較用）=====\nconst newText = Buffer.from(newB64, \"base64\").toString(\"utf8\");\nconst oldText = oldB64 ? Buffer.from(oldB64, \"base64\").toString(\"utf8\") : null;\n\n// ===== 4) 正規化して比較（noChange 判定）=====\nfunction normalize(text) {\n  const obj = JSON.parse(text);\n\n  // もし exportedAt 等があるなら差分要因になるので削除（必要に応じて増やしてOK）\n  delete obj.exportedAt;\n\n  // workflow JSON（1ファイル=1workflow）前提なので、created/updated/versionId などを削る\n  // ただしあなたの Code in JavaScript1 ですでに消しているので二重でもOK\n  delete obj.updatedAt;\n  delete obj.createdAt;\n  delete obj.versionId;\n\n  return JSON.stringify(obj);\n}\n\nlet noChange = false;\ntry {\n  noChange = oldText ? (normalize(oldText) === normalize(newText)) : false;\n} catch (e) {\n  // 旧ファイルが壊れてる/形式違い等は更新扱いにする\n  noChange = false;\n}\n\n// ===== 5) PUT用 body を構築（sha は「存在するときだけ」入れる）=====\nconst putBody = {\n  message: \"backup n8n workflows\",\n  content: newB64,\n  branch: \"main\",\n};\n\nif (sha) {\n  putBody.sha = sha;\n}\n\nreturn [\n  {\n    json: {\n      path,\n      noChange,\n      putBody,\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        240
      ],
      "id": "e8d7fbc7-0e8f-4fd8-a346-b2bbc1bab4c5",
      "name": "Diff & Build PUT"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        816,
        240
      ],
      "id": "57f7814e-656f-4a1d-9891-9a4d08dcf756",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/troy197173-lgtm/n8n-workflows/contents/{{$json.path}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer [REDACTED]"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.putBody.message }}"
            },
            {
              "name": "branch",
              "value": "={{ $json.putBody.branch }}"
            },
            {
              "name": "content",
              "value": "={{ $json.putBody.content }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.putBody.sha }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2048,
        352
      ],
      "id": "8135356c-a694-4df9-93be-5a212c4c56e2",
      "name": "PUT UPDATE"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/troy197173-lgtm/n8n-workflows/contents/{{$json.path}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer [REDACTED]"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"backup n8n workflows\",\n  \"content\": \"{{ $json.putBody.content }}\",\n  \"branch\": \"main\"\n}\n\n",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2048,
        -64
      ],
      "id": "00dc767f-3a6c-45d0-8b1a-3e16ddd13cb0",
      "name": "PUT CREATE"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2bd3ad34-68cf-4b0e-8730-a7b1feb7efee",
              "leftValue": "={{ $('GitHub GET').item.json.error.status }}",
              "rightValue": 404,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1808,
        256
      ],
      "id": "1ad2d794-38e6-401b-95fa-ea9c1f6cafe7",
      "name": "If"
    }
  ],
  "connections": {
    "Daily at 23:59": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub GET": {
      "main": [
        [
          {
            "node": "Diff & Build PUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diff & Build PUT": {
      "main": [
        [
          {
            "node": "If no change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If no change": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "GitHub GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT CREATE": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "PUT CREATE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PUT UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT UPDATE": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": {
    "templateId": "1222",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-09T05:41:35.668Z",
      "createdAt": "2025-12-09T05:41:35.668Z",
      "role": "workflow:owner",
      "workflowId": "RUiAyFbRlj7NobUK",
      "projectId": "dEuNNMB3JR1LXOMn"
    }
  ],
  "tags": []
}