n8n-backup/海外サイトから画像付きで情報入手__EDNpWBJgO5HtpeC1.json
{
  "id": "EDNpWBJgO5HtpeC1",
  "name": "海外サイトから画像付きで情報入手",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        0
      ],
      "id": "078d597e-3c6e-4fa9-94f8-fe74940dab98",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1Wkp3PxbXf9VC9ERr4BR1z93RM0RiCFzgJ3WWCSQ6mG4",
          "mode": "list",
          "cachedResultName": "情報調査サイト一覧",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Wkp3PxbXf9VC9ERr4BR1z93RM0RiCFzgJ3WWCSQ6mG4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Wkp3PxbXf9VC9ERr4BR1z93RM0RiCFzgJ3WWCSQ6mG4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        0
      ],
      "id": "06edd7b3-6a9f-445d-a598-fcb354715b8c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "rKIeWR82vBV5zQbG",
          "name": "Google Service Account account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        272,
        0
      ],
      "id": "d3c74464-b6ee-4d4b-8751-386ce9c6c1cb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $('Get row(s) in sheet').item.json['RSSフィード'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        512,
        16
      ],
      "id": "49e71e48-a696-4116-80c0-0f4de6399c35",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "pubDate",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        720,
        16
      ],
      "id": "b96a2727-f8c8-4b01-b783-412db05d2cd9",
      "name": "Sort"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        944,
        16
      ],
      "id": "27da26d5-67a5-466c-8489-a9dda3d2ac92",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf7bcd4f-1b2a-44ca-8e74-15f061ca2ae6",
              "name": "title",
              "value": "={{ $('HTTP Request').item.json.title }}",
              "type": "string"
            },
            {
              "id": "0abcca5f-2d3f-4eeb-aaf8-db1596232252",
              "name": "text",
              "value": "={{ $('HTTP Request').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        0
      ],
      "id": "4c810f95-9af8-4454-9cf9-61ad8df14fbc",
      "name": "Pick Title & Text"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=あなたは技術記事の翻訳者兼記事のライターです。以下の記事を日本語に翻訳して、わかりやすくマークダウン形式の記事にしてください。またアルファベットの名前は日本人に屋読みにくいのでローマ字のカタカナ表記にしてください。\n\n「はい、承知いたしました」「翻訳しました」などの挨拶、前置き、解説は一切出力しないでください。\n\n指定されたマークダウン形式の文章のみを直接出力してください。\n\n最初の文字は必ず「# タイトル」から始めてください。\n\n記事は以下です。\n{{ $json.text }}\n\n\n- 単位（GWh、年、%など）は維持\n- 文章は自然な技術日本語にする\n- 広告/誘導文（Subscribe/Read the latest等）は出力しない\n\n\n\n出力は以下の構成を厳守してください：\n\n# [タイトル]\n![画像]({{ $('Message a model').item.json.content.parts[0].text }})\n\n> [要約文]\n\n## [見出し1]\n[本文1]\n\n## [見出し2]\n[本文2]\n\n---\n[原文を読む]({{ $('Limit').item.json.link }})\n\n※「」や解説、コードブロック（```）は含めず、この構造のテキストのみを出力してください。"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2016,
        16
      ],
      "id": "4f32f43e-2b89-4857-8ff2-06c59398d103",
      "name": "Translate with Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "DFFd6i9vv2cgVPir",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Get row(s) in sheet').first().json['ファイルネーム'] }}_{{ $now.format('yyyy-MM-dd_HHmm') }}.md",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1xVlUBVP6KZ_B5w7nBJ0nZ3uMxo0Ph3jn",
          "mode": "list",
          "cachedResultName": "海外記事からの情報取り込み",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xVlUBVP6KZ_B5w7nBJ0nZ3uMxo0Ph3jn"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2752,
        32
      ],
      "id": "ada0a324-9e9b-4671-a1cd-50a78c47d73a",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KwuypKfMiPyMmLWH",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://readability-api:3000/extract",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.link }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1152,
        16
      ],
      "id": "60b9c24f-2fde-4cd5-8dbe-ee9c22abac70",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "content",
        "extractionValues": {
          "values": [
            {
              "key": "src_images",
              "cssSelector": "img",
              "returnValue": "attribute",
              "attribute": "src",
              "returnArray": true
            },
            {
              "key": "data_images",
              "cssSelector": "img",
              "returnValue": "attribute",
              "attribute": "data-src",
              "returnArray": true
            },
            {
              "key": "srcset_images",
              "cssSelector": "img",
              "returnValue": "attribute",
              "attribute": "srcset",
              "returnArray": true
            },
            {
              "key": "srcset_images",
              "cssSelector": "img",
              "returnValue": "attribute",
              "attribute": "data-srcset",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1392,
        16
      ],
      "id": "1e72e0f2-4219-42fe-a1af-c0943e85a579",
      "name": "HTML"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=あなたはプロのWeb編集者です。提供されたURLリストから、記事のメインアイキャッチ画像として最適なものを1つだけ選出してください。\n\n【選定ルール】\n\ndata:image/ で始まるベース64形式のダミー画像は除外してください。\n\n「hitachi」「cvent」「advertise」「logo」など、広告やサイトロゴと思われるURLは除外してください。\n\n記事タイトル（{{ $('HTTP Request').item.json.title }}）の内容を最もよく表している画像URLを優先してください。\n\n【出力形式】\n\nURLのみを出力してください。\n\n解説、挨拶、Markdownタグ（![]()など）は一切含めないでください。\n\n【入力リスト】 {{ $json.data_images }}"
            }
          ]
        },
        "options": {
          "maxOutputTokens": 1000,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1584,
        16
      ],
      "id": "36fd54e0-47ee-4a2d-9cdb-dc67f62b8ff7",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "DFFd6i9vv2cgVPir",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet combinedMarkdown = \"\";\n\nitems.forEach((item, index) => {\n  if (item.json.content && item.json.content.parts) {\n    // パーツを結合（ここで一旦 \\n 文字が含まれた状態になる）\n    let articleText = item.json.content.parts\n      .map(part => part.text)\n      .join(\"\\n\\n\"); \n\n    if (index > 0) {\n      combinedMarkdown += \"\\n\\n---\\n\\n\"; \n    }\n    combinedMarkdown += articleText;\n  }\n});\n\n// ★最重要★ 文字列としての \"\\\\n\" を、物理的な改行 \"\\n\" に一括置換します\ncombinedMarkdown = combinedMarkdown.replace(/\\\\n/g, '\\n');\n\n// 念のため、余計な空白をトリミング\ncombinedMarkdown = combinedMarkdown.trim();\n\nreturn {\n  full_markdown: combinedMarkdown,\n  article_count: items.length\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        16
      ],
      "id": "a553aa7a-30b1-4216-834c-a4bf3db40d02",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "full_markdown",
        "options": {
          "fileName": "combined_articles.md"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2576,
        16
      ],
      "id": "114a6cd8-0f5b-4f20-92bf-2667c8429475",
      "name": "Convert to File"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Title & Text": {
      "main": [
        [
          {
            "node": "Translate with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate with Gemini": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Pick Title & Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-23T07:23:04.792Z",
      "createdAt": "2025-11-23T07:23:04.792Z",
      "role": "workflow:owner",
      "workflowId": "EDNpWBJgO5HtpeC1",
      "projectId": "dEuNNMB3JR1LXOMn"
    }
  ],
  "activeVersion": null,
  "tags": []
}