n8n-backup/海外サイトからの情報入手__TXGrMpKJE1dXclBD.json
{
  "id": "TXGrMpKJE1dXclBD",
  "name": "海外サイトからの情報入手",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        -16
      ],
      "id": "8ccfd964-3e4e-4adf-9d54-77f6af53aae2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1Wkp3PxbXf9VC9ERr4BR1z93RM0RiCFzgJ3WWCSQ6mG4",
          "mode": "list",
          "cachedResultName": "情報調査サイト一覧",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Wkp3PxbXf9VC9ERr4BR1z93RM0RiCFzgJ3WWCSQ6mG4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Wkp3PxbXf9VC9ERr4BR1z93RM0RiCFzgJ3WWCSQ6mG4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        -16
      ],
      "id": "fcd2149b-ddc7-483b-bf3f-c33413e72aac",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "rKIeWR82vBV5zQbG",
          "name": "Google Service Account account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        48,
        -16
      ],
      "id": "c893d61c-7385-4bf1-a2b4-ae532eb0783f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        416,
        208
      ],
      "id": "3e84625d-8b81-4825-b459-4c10f7b0f5b6"
    },
    {
      "parameters": {
        "url": "={{ $('Get row(s) in sheet').item.json['RSSフィード'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        288,
        0
      ],
      "id": "46b48be1-1231-4345-a24e-6250fa27117b",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "pubDate",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        496,
        0
      ],
      "id": "46ea211a-5135-434f-8d31-58791da4706e",
      "name": "Sort"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"次のURLのページ内容を読み込み、記事の部分のテキストのみを抽出して、日本語に翻訳してJSON形式で出力してください。\\n\\nURL: {{$json.link}}\\n\\n出力フォーマット:\\n{\\n  \\\"summary\\\": [\\\"...\\\"],\\n  \\\"numbers\\\": [\\n    {\\\"label\\\": \\\"...\\\", \\\"value\\\": 0, \\\"unit\\\": \\\"...\\\", \\\"note\\\": \\\"...\\\"}\\n  ]\\n}\"\n        }\n      ]\n    }\n  ],\n  \"tools\": [\n    {\n      \"url_context\": {}\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        -288
      ],
      "id": "b31557fe-9077-4cfa-b7a7-dbfcdcf5306b",
      "name": "HTTP Request",
      "credentials": {
        "googlePalmApi": {
          "id": "DFFd6i9vv2cgVPir",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        720,
        0
      ],
      "id": "073a7e74-521a-49ee-ac29-751c47ec183c",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "// 入力: items[] に HTTP Request の各レスポンスオブジェクト\n// 出力: 「1つの記事まとめ(JSON)」ごとに1 item ＋ report文字列\n\nconst out = [];\n\nfor (const item of items) {\n  const root = item.json;\n  const candidates = root.candidates || [];\n\n  for (const cand of candidates) {\n    const parts = cand.content?.parts || [];\n\n    for (const part of parts) {\n      const text = part.text || '';\n      // ```json ～ ``` のコードブロックを探す\n      const match = text.match(/```json([\\s\\S]*?)```/);\n\n      if (!match) continue; // このpartにJSONコードブロックがなければスキップ\n\n      const jsonString = match[1].trim();\n\n      let data;\n      try {\n        data = JSON.parse(jsonString);\n      } catch (e) {\n        // JSONとしてパースできなかったらスキップ\n        continue;\n      }\n\n      // ==== ここからレポート生成ロジック ====\n\n      const title = data.title || ''; // ない場合もあるのでデフォルト\n      const summary = Array.isArray(data.summary) ? data.summary : [];\n      const numbers = Array.isArray(data.numbers) ? data.numbers : [];\n      const insights = Array.isArray(data.insights) ? data.insights : [];\n\n      // URLは urlContextMetadata から拾えることが多い\n      const urlFromMeta =\n        cand.urlContextMetadata?.urlMetadata?.[0]?.retrievedUrl ||\n        root.urlContextMetadata?.urlMetadata?.[0]?.retrievedUrl ||\n        '';\n\n      const url = data.url || urlFromMeta || '';\n\n      const lines = [];\n\n      // タイトル\n      lines.push(`# レポート${title ? `: ${title}` : ''}`);\n      if (url) {\n        lines.push(`URL: ${url}`);\n      }\n\n      // サマリー\n      lines.push('');\n      lines.push('## 1. 概要（サマリー）');\n      if (!summary.length) {\n        lines.push('- サマリー情報はありませんでした。');\n      } else {\n        for (const s of summary) {\n          lines.push(`- ${s}`);\n        }\n      }\n\n      // 数値\n      lines.push('');\n      lines.push('## 2. 重要な数値・指標');\n      if (!numbers.length) {\n        lines.push('（重要な数値情報はありませんでした）');\n      } else {\n        lines.push('| 指標 | 値 | 単位 | 補足 |');\n        lines.push('| ---- | -- | ---- | ---- |');\n        for (const n of numbers) {\n          lines.push(\n            `| ${n.label || ''} | ${n.value ?? ''} | ${n.unit || ''} | ${n.note || ''} |`\n          );\n        }\n      }\n\n      // インサイト（あれば）\n      if (insights.length) {\n        lines.push('');\n        lines.push('## 3. インサイト・示唆');\n        for (const i of insights) {\n          lines.push(`- ${i}`);\n        }\n      }\n\n      const report = lines.join('\\n');\n\n      // このJSON + レポートを1 item として出力\n      out.push({\n        json: {\n          ...data,\n          url,\n          report\n        }\n      });\n    }\n  }\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -288
      ],
      "id": "deb8369c-b353-487f-99c5-7f3893f2cd66",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const all = items.map(i => i.json.report);\nconst joined = all.join('\\n\\n---\\n\\n');\n\nreturn [\n  {\n    json: {\n      report: joined\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        -304
      ],
      "id": "6255d11b-62bf-4354-8ba7-ce26a78f23a2",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://readability-api:3000/extract",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.link }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        928,
        0
      ],
      "id": "a5592f37-44c1-4e70-b66a-4e6a1c9eecdb",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf7bcd4f-1b2a-44ca-8e74-15f061ca2ae6",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "0abcca5f-2d3f-4eeb-aaf8-db1596232252",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        0
      ],
      "id": "b655e6b9-4b56-41e3-81f2-b4cac1f420bc",
      "name": "Pick Title & Text"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=あなたは技術記事の翻訳者です。以下の記事を日本語に翻訳してください。\n- 固有名詞（会社名/人名/地名）は原文維持\n- 単位（GWh、年、%など）は維持\n- 文章は自然な技術日本語にする\n- 広告/誘導文（Subscribe/Read the latest等）は出力しない\n\n出力は必ず次のJSON形式のみ（コードブロック禁止）：\n{\n  \"title_ja\": \"...\",\n  \"text_ja\": \"...\"\n}\n\n【原文タイトル】\n{{$json.title}}\n\n【原文本文】\n{{$json.text}}\n\n【URL】\n{{ $('Limit').item.json.link }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1344,
        0
      ],
      "id": "ae5af1bc-893f-4170-9728-310d56940c34",
      "name": "Translate with Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "DFFd6i9vv2cgVPir",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Geminiノードの出力（環境差吸収）\nlet raw =\n  $json.text ??\n  $json.content ??\n  $json.response ??\n  $json.output ??\n  $json.candidates?.[0]?.content ??\n  $json;\n\n// ① raw が「すでにオブジェクト」ならそのまま使う\nlet parsed;\nif (typeof raw === \"object\" && raw !== null) {\n  parsed = raw;\n} else {\n  // ② raw が文字列の場合だけ JSON.parse / match を使う\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    const m = String(raw).match(/\\{[\\s\\S]*\\}/);\n    if (!m) {\n      throw new Error(\"Gemini output is not valid JSON\");\n    }\n    parsed = JSON.parse(m[0]);\n  }\n}\n\n// 日本語タイトル・本文\nlet titleJa = parsed.title_ja ?? \"translated\";\nlet textJa  = parsed.text_ja  ?? \"\";\n\n// エスケープ解除（★重要）\ntextJa = String(textJa)\n  .replace(/\\\\n\\\\n/g, \"\\n\\n\")\n  .replace(/\\\\n/g, \"\\n\")\n  .replace(/\\\\\"/g, '\"')\n  .replace(/\\s+\\n/g, \"\\n\")\n  .replace(/\\n{3,}/g, \"\\n\\n\")\n  .trim();\n\n// ファイル名用に安全化\nconst safeTitle = titleJa.replace(/[\\\\/:*?\"<>|]/g, \"_\").slice(0, 120);\nconst date = new Date().toISOString().slice(0, 10);\n\n// txt内容\nconst content = [\n  titleJa,\n  \"\",\n  \"================================\",\n  \"\",\n  textJa,\n  \"\"\n].join(\"\\n\");\n\nreturn [{\n  filename: `${date}_${safeTitle}.txt`,\n  content\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        0
      ],
      "id": "56842a51-53ba-46ad-a1bb-ce70a75c70ae",
      "name": "Build TXT"
    },
    {
      "parameters": {
        "name": "={{ $json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2096,
        0
      ],
      "id": "0de1f6e7-0e16-4abb-9a5f-63cd0c13b705",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KwuypKfMiPyMmLWH",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1888,
        0
      ],
      "id": "ddec4b14-382e-424b-b06d-3fd443796120",
      "name": "Convert to text file"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Pick Title & Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Title & Text": {
      "main": [
        [
          {
            "node": "Translate with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate with Gemini": {
      "main": [
        [
          {
            "node": "Build TXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build TXT": {
      "main": [
        [
          {
            "node": "Convert to text file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to text file": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-07-01T02:41:08.694Z",
      "createdAt": "2025-07-01T02:41:08.694Z",
      "role": "workflow:owner",
      "workflowId": "TXGrMpKJE1dXclBD",
      "projectId": "dEuNNMB3JR1LXOMn"
    }
  ],
  "tags": []
}